body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  font-family: 'Calibri', Verdana, sans-serif;
}

main{
    margin: 0px 0;
}

Header{
  color: white;
}

a:hover{
  color: #BA181B;
}
form.border{
  border: 3px solid #BA181B !important;
  border-radius: 5px;
}
form{
  background-color: #f5f3f4;
}

input{
  border: 1px solid lightgrey;
  border-radius: 12px;  /*era 20 prima*/
  outline: none;
}

input[type="file"] {
  border: 1px solid lightgrey;
  border-radius: 0px;
  outline: none;
}


textarea{
  border: 1px solid lightgrey;
  border-radius: 10px;
  outline: none;
}

img {
    max-width:100%;
    max-height:100%;
}

ul{
  list-style-type: none;
}

ul li{
  font-size: large;
}
form input[type="number"]{
  width:60px;
}

h3{
  font-size: 1.5em;
}

@media only screen and (min-width:768px){
  .contenuto{
    min-height: 480px;
  }
}

@media only screen and (max-width:767px){
  .contenuto{
    min-height: 300px;
  }
}

.card{
  border: none;
}

.fa-user, .fa-bell, .fa-bars, .fa-shopping-cart, .fa-lightbulb-o{
  color: white;
}

.bg-dark{
  background-color: #820000 !important;
}

.btn-primary, .btn-success, .btn-secondary{
  font-size: 20px;
  border: none;
  outline: none;
}

.btn-primary{
  background-color: #BA181B;
}

.btn-success{
  background-color: #A4161A;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus{
  background-color: #BA181B !important;
  box-shadow: 0 0 0 0.2rem #E5383B50 !important;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:active:focus{
  background-color: #A4161A !important;
  box-shadow: 0 0 0 0.2rem #E5383B50 !important;
}

.link-unstyled, .link-unstyled:hover, .link-unstyled:focus{
  color:inherit;
  text-decoration: none;
}

.custom-box, .card {
  background-color: #f5f3f4;
}

.product-box {
  background-color: #f5f3f4;
  min-height: 500px;
}

.image-box{
  background-color: white;
  width: 70%;
/*
  width:180px;
  height:220px;*/
} /*Deprecato, meglio usare thumbnail-box*/

.thumbnail-box{
  background-color: white;
  height: 300px;
  width: 200px;
}

@media screen and (max-width:768px){
  .thumbnail-box{
    height: 240px;
    width: 180px;
  }
}

.product-image {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

.thumbnail{
  width: 400px;
} /*Deprecato*/

.custom-box.border, .product-box.border,.image-box.border{
  border: 3px solid #BA181B !important;
  border-radius: 5px;
}

.thumbnail-box.border{
  border: 2px solid #BA181B !important;
}

.custom-search {
  position: relative;
}
.custom-search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}
.custom-search-botton {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border: 0;
  background: #BA181B;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  margin: 5px;
}

.imgelenco{
  width: 120px;
  height: 180px;
}

.card-body {
	margin: 10px;
}



.toast-body{
  background: #FFFFFF;
  color: #000000;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#tost{
  position: absolute;
  top: 170px;
  right: 30px;
}

@media screen and (min-width:768px){
  .imgelenco{
    width: 240px;
    height: 180px;
  }
  #tost{
    position: absolute;
    top: 60px;
  }
}
