body{
  padding: 0;
  margin: 0;
  /*background-image: url(damask-patterns.jpg);
  background-size: cover;
  background-repeat: no-repeat; funziona ma non trovo qualcosa di adatto come sfondo generico*/
}

header > button:hover{
  cursor: pointer;
}

header{
  text-align: center;
  background-color: grey;
  color: yellow;
}

header> button{
  border: none;
  background: none;
}

header > button > a{
  text-decoration: none;
}
a{
  text-decoration: none;
}

img{
  height: 300px;
  max-width: 100%;
  /*max-height: 100%;*/
}
table{
  text-align: center;
  border: 1px solid #000;
  margin: 0 10%;
  min-width: 700px;
  max-width: 100%;
}


#img{
  border: 1px solid #000;
}
#submit{
  background-color: lightgreen;
  text-align: right;
  /* questo per ora non si allinea ???*/
}

form {
  margin: 5px 40px;
}
ul{
  list-style: none;
}

p {
  margin-left: 20px;
}
